.cr-img {
  width: 100%;
  height: 60vh;
}

.custom-navbar {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


.prod-head {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.shadow-text {
  text-shadow: 4px 4px 2px lightblue;
}

.browse {
  font-size: 20px;
}

/* CSS */
.custom-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.custom-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.custom-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.custom-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.categories .image-cat img {
  width: 100%;
  height: 220px;
  border-radius: 4px;
}

.feature {
  height: 65vh;
  background-image: radial-gradient(100% 100% at 100% 0, #42275a 0, #734b6d 100%);
}

.feature .feature-img img {
  height: 65vh;
}

.feature-det {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.nav-color {
  color: #07261E;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #07261E;
}

/* Partners section */

.partner-section {
  text-align: center;
  margin: 50px 0;
  margin-bottom: -50px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  height: auto;
}

.part-head {
  padding: 5% 0 0 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #07261E;
  text-shadow: 0 0 12px #fff;
}

.partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 3% 0 5% 0;
}

.partner-item {
  margin: 0 20px;
}

.partner-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.partner-item p {
  margin-top: 10px;
  font-weight: bold;
}

a.text-light {
  text-decoration: none;
}

a.text-light:hover {
  text-decoration: underline;
}


@media (max-width:610px) {
  .partner-item img {
    margin: 12px;
  }
}

@media (max-width:990px) {
  .card-css{
    width: 60%;
    margin: 0 auto;
    height: 100px;
  }
}